#change-password-container{
    border:2px solid black;
    width:50%;
    margin:2.9% auto;
    padding:2.9%;
    padding-bottom:8%;
}

#change-password-container label{
    width:40%;
}

#change-password-container input[type=password]{
    border:2px solid black;
    height:6%;
    padding-left:2.9%;
    width:50%;
    font-size:18px;
}

#change-password-container input[type=button]{
    border-radius:0px !important;
    margin-right:9%;
}