#new-post-container{
    border:2px solid black;
    padding:2.9%;
    margin:2.9% auto;
    width:30%;
    padding-bottom:6%;
}

#new-post-container textarea{
    width:90%;
    height:30%;
}

#new-post-container input[type=button]{
    border-radius:0px !important;
}