<h1>Change Password</h1>
<div class="container">
    <div id="change-password-container">
        <label>Old password</label>
        <input type="password" ng-model="oldPassword" />
        <br />
        <br />
        <label>New password</label>
        <input type="password" ng-model="newPassword" />
        <br />
        <br />
        <label>Confirm password</label>
        <input type="password" ng-model="confirmPassword" />
        <input type="button" class="btn-lg pull-right" value="Save Changes" ng-click="changePassword(oldPassword, newPassword, confirmPassword)" />
    </div>
</div>
