<div ng-show="!isLogedIn">
    <div class="col-lg-4 form-container">
        <label>Username</label>
        <input class="form-control" id="login-username" type="text" />
        <label>Password</label>
        <input class="form-control" id="login-password" type="password" />
        <input type="button" value="Login" class="btn-lg" ng-click="tryLogin()" />
        <div><label id="LoginErrorMessage">{{loginErrorMessage}}</label></div>
    </div>
    <div class="col-lg-4 form-container" id="register-form">
        <div>
            <form action="http://softuni-social-network.azurewebsites.net/api/users/Register" method="post" id="registerForm">
                <div class="row">
                    <label>Username</label>
                    <input class="form-control" type="text" name="Username" />
                </div>
                <div class="row">
                    <label>Password</label>
                    <input class="form-control" type="password" name="Password" />
                </div>
                <div class="row">
                    <label>Confirm password</label>
                    <input class="form-control" type="password" name="ConfirmPassword" />
                </div>
                <div class="row">
                    <label>Name</label>
                    <input class="form-control" type="text" name="Name" />
                </div>
                <div class="row">
                    <label>Email</label>
                    <input class="form-control" type="email" name="Email" />
                </div>
                <div class="row">
                    <label>Gender:</label>
                    <input type="radio" name="Gender" value="1">Male
                    <input type="radio" name="Gender" value="2">Female
                    <input type="radio" name="Gender" value="0">Other
                </div>
                <input type="submit" value="Register" class="btn-lg" />
            </form>
        </div>
    </div>
</div>
<div ng-show="isLogedIn">
    <div class="container">
        <div class="row">
            <h3>
                <div class="col-lg-6">
                    <a>{{fullName}}</a>
                    <i class="glyphicon glyphicon-comment"></i>
                    <i class="glyphicon glyphicon-user"></i>
                    <i class="glyphicon glyphicon-cog"></i>
                    <i class="glyphicon glyphicon-lock"></i>
                    <i class="glyphicon glyphicon-log-out" ng-click="logout()"></i>
                </div>

                <div class="col-lg-4 pull-right">
                    <span class="input-group">
                        <input type="text" class="form-control" />
                        <span class="input-group-btn">
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </span>
                </div>
            </h3>
        </div>
        <div class="row">
            <h1>News Feed <i class="glyphicon glyphicon-comment"></i></h1>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h1>NEWS FEEED!!</h1>
            </div>
            <div class="col-lg-4">
                <h1>FRIENDS LIST</h1>
            </div>
        </div>
    </div>
</div>